.FirstTextContainer {
  padding-top: 50px;
  margin: 0 auto;
  width: 50%;
}

.SecondTextContainer {
  text-align: left;
  padding-top: 50px;
  margin: 0 auto;
  width: 50%;
}

.textList {
  list-style-type: none;
}

.starLogo {
  padding-top: 15px;
  display: inline-flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 15px;
}

.textBack {
  font-size: 20px;
  width: 12rem;
  height: auto;
  border: 2px black solid;
  border-radius: 50px 50px 50px 50px;
  transition: all 0.35s ease;
}

.textBack:hover {
  color: white;
  background-color: orange;
  transition: all 0.35s ease;
}

.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.textAfterSlide {
  display: flex;
  justify-content: space-between;
  padding: 150px;
  box-sizing: border-box;
}

.price {
  justify-content: center;
  margin: 0 auto;
}
