.list {
  padding: 15px;
  list-style-type: none;
}

.list_container {
  align-items: center;
  justify-content: center;
  display: flex;
}

.map {
  width: 641px;
  height: 343px;
}

.mapSide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.textSide {
  top: 0;
  padding: 35px;
  text-align: left;
}
