.list {
  padding: 15px;
  list-style-type: none;
}

.list_container {
  margin: 0px 5px auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.map {
  width: 641px;
  height: 343px;
}

.mapSide {
  display: flex;
  justify-content: center;
}

.textSide {
  text-align: left;
}
