.root {
  position: relative;
}
.contentContainer {
  position: relative;
  margin-bottom: 70px;
}
.servicesListContainer {
  width: 640px;
}
.servicesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px 0;
}
.servicesItem {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #000;
  gap: 0 10px;
  padding: 0 0 10px 77px;
}
.servicesItem p {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 21px;
}
.imgSideContainer {
  position: absolute;
  top: -100px;
  right: 0;
  width: 290px;
  height: 513px;
  z-index: 2;
}
.img {
  position: relative;
  max-width: 290px;
  width: 100%;
  height: 100%;
  border-radius: 255px;
  object-fit: cover;
  z-index: 2;
  box-shadow: 0px 4px 19px 3px rgba(0, 0, 0, 0.25);
}
.ellipse {
  position: absolute;
  bottom: -70px;
  right: -186px;
  z-index: 1;
}
.buttonContainer {
  padding-left: 70px;
}
@media (max-width: 1040px) {
  .root {
    padding-bottom: 40px;
  }
  .contentContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .imgSideContainer {
    position: relative;
    top: 0;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
  }
  .ellipse {
    width: 100%;
    left: 0;
  }
  .servicesListContainer {
    width: 80%;
  }
  .servicesList{
    gap: 60px 0;
  }
  .servicesItem {
    padding-left: 0;
    justify-content: center;
  }
  .buttonContainer {
    padding-left: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media(max-width: 560px) {
  .imgContainer {
    margin-bottom: 0;
  }
  .img {
    max-width: 225px;
    height: 390px;
  }
  .servicesListContainer {
    width: 100%;
  }
  .servicesItem {
    justify-content: flex-start;
  }
  .servicesItem p {
    font-size: 15px;
  }
  .imgSideContainer {
    margin-bottom: 0;
  }
  .buttonContainer {
    width: 213px;
    bottom: 0;
    left: 50%;
  }
}
@media(max-width: 430px) {
  .buttonContainer {
    padding-bottom: 15px;
    left: 55%;
  }
  .ellipse {
    min-width: 400px;
    left: -30px;
    bottom: -20px;
  }
}