.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo {
  padding: 0;
  width: 30%;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  padding-bottom: 25px;
  font-weight: 400;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  font-size: 50px;
  border-bottom: 2px orange solid;
}

.buttonContainer {
  align-items: center;
  width: 10%;
}

.textBack {
  font-size: 20px;
  width: 12rem;
  height: auto;
  border: 2px black solid;
  border-radius: 50px 50px 50px 50px;
  transition: all 0.35s ease;
}

.textBack:hover {
  color: white;
  background-color: orange;
  transition: all 0.35s ease;
}

.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.textListContainer {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textList {
  padding-bottom: 25px;
  font-weight: 400;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 25px;
  border-bottom: 2px orange solid;
}
