.textListContainer {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textList {
  padding-bottom: 25px;
  font-weight: 400;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 25px;
  border-bottom: 2px orange solid;
}
