.header {
  align-items: center;
  justify-content: center;
  background-color: black;
  color: red;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 5px;
}

.logo {
  padding: 15px;
  width: 50vmin;
  background-color: black;
}

.background {
  background-color: black;
  height: 100vh;
}
.magic {
  padding-top: 50px;
  width: 30%;
}

@media (prefers-reduced-motion: no-preference) {
  .magic {
    animation: MAGIC-SPINER infinite 10s linear;
  }
}

@keyframes MAGIC-SPINER {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
