.button {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50%;

  width: 60px;
  height: 60px;
  transition: all 0.3s ease;
}
.buttonLink:before {
  background: rgba(255, 180, 183, 0.5);
}
.buttonBtn:before {
  background: rgba(255, 165, 45, 0.5);
}
.button span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  vertical-align: middle;
  transition: color 0.3s ease;
  color: #1E1E1E;
}
.button:hover span {
  color: #fff;
}
.button svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.button:hover:before {
  width: 100%;
  border-radius: 50px;
}
.buttonLink:hover:before {
  background: rgb(255, 180, 183);
}
.buttonBtn:hover:before {
  background: rgb(255, 165, 45);
}
.button:hover svg {
  transform: translateX(0);
  stroke: #fff;
}
.button:active {
  transform: scale(0.96);
}


.buttonReverse {
  position: relative;
  padding: 19px 22px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.buttonReverse:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  border-radius: 50%;
  background: rgba(255, 165, 45, 0.5);
  width: 60px;
  height: 60px;
  transition: all 0.3s ease;
}

.buttonReverse span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  vertical-align: middle;
  transition: color 0.3s ease;
  color: #1E1E1E;
}
.buttonReverse:hover span {
  color: #fff;
}
.buttonReverse svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px) rotate(180deg);
  transition: all 0.3s ease;
}
.buttonReverse:hover:before {
  width: 100%;
  border-radius: 50px;
  background: rgb(255, 165, 45);
}
.buttonReverse:hover svg {
  transform: translateX(-10px) rotate(180deg);
  stroke: #fff;
}

@media(max-width: 560px) {
  .button {
    padding: 16px;
  }
  .button::before {
    height: 50px;
    width: 50px;
  }
  .button span{
    font-size: 14px;
    letter-spacing: 2px;
  }
  .buttonReverse {
    padding: 16px;
  }
  .buttonReverse::before {
    height: 50px;
    width: 50px;
  }
  .buttonReverse span{
    font-size: 14px;
    letter-spacing: 2px;
  }
}