.list {
  padding: 15px;
  list-style-type: none;
}

.listContainer {
  align-items: center;
  justify-content: center;
  display: flex;
}
.logoContainer {
  justify-content: center;
  display: flex;
  margin: 0 auto;
}
.logo {
  width: 200px;
}
.bottomText {
  text-align: center;
  justify-content: center;
}

@media (max-width: 750px) {
  .list {
    padding: 5px;
  }
}

@media (max-width: 630px) {
  .list {
    font-size: 14px;
    padding: 3px;
  }
}

@media (max-width: 560px) {
  .list {
    font-size: 14px;
    padding: 3px;
  }
}
