.root {
  position: fixed;
  left: 100%;
  width: 100vw;
  height: 120vh;
  overflow: hidden;
  background: #FFE8E9;
  z-index: 100;
  padding: 25px 20px;
  transition: left .6s ease-in-out;
}
.cross {
  position: absolute;
  top: 35px;
  right: 40px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}
.cross svg {
  width: 100%;
  height: 100%;
}
.contentContainer {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
}

.contentContainer .bottomLine {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  border-radius: 10px;
  background-color: #FFA52D;
}
.logo {
  width: 200px;
  height: 140px;
  margin-bottom: 30px;
}
.navigation, .info, .connectionList {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
.navigation {
  margin-bottom: 70px;
  gap: 15px 0;
}
.navigationItem {
  overflow: hidden;
  cursor: pointer;
}
.navigationItem p {
  position: relative;
}
.navigationItem, .announcement {
  overflow: hidden;
  font-weight: 500;
  font-size: 15px;
}
.navigationItem, .announcement span {
  position: relative;
}
.announcement {
  max-width: 250px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 40px;
}
.connectionList {
  gap: 25px 0;
}
.connectionItem {
  overflow: hidden;
}
.connectionItem span {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0 6px;
  text-transform: uppercase;
}

