.root {
  padding: 0 70px 70px 70px;
  position: relative;
}
.contentContainer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 170px;
}
.imgContainer {
  margin: 0;
  position: relative;
}
.imgContainer span {
  opacity: 0;
}
.imgContainer:nth-child(1), .imgContainer:nth-child(3) {
  position: absolute;
}
.imgContainer:nth-child(1) {
  bottom: -100px;
  left: 0;
}
.imgContainer:nth-child(3) {
  top: -100px;
  right: 0;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  position: relative;
  z-index: 2;
  transition: transform .3s;
}
.img:hover {
  transform: scale(1.05);
}
.star {
  position: absolute;
  transform: rotate(100deg);
  left: 0;
}
.star svg {
  width: 70px;
  height: 70px;
}
.smallStar {
  position: absolute;
  bottom: -100px;
  right: -20px;
}
.buttonContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50px);
}
@media(max-width: 1040px) {
  .root {
    padding-bottom: 200px;
  }
}
@media(max-width: 920px) {
  .imgContainer {
    min-width: 0;
  }
}
@media(max-width: 560px) {
  .buttonContainer {
    bottom: 0;
    left: 40%;
  }
  .contentContainer {
    padding-top: 20px;
  }
  .imgContainer {
    padding-top: 0;
  }
}
@media(max-width: 430px) {
  .root {
    padding-bottom: 170px;
  }
  .star {
    left: 20px;
  }
  .star svg {
    width: 50px;
    height: 50px;
  }
  .smallStar {
    right: 20px;
  }
}
